#game-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#embedded-game {
    height: 100%; 
    width: 100%;
    border: 20vh;
    border-color: aqua;
}

#floatdiv {
    position: absolute;
    top: 90%;
    left: 15px;
    z-index: 1;
}

#pageContent-game {
    width: 100%;
    height: 100%;
}

.centerItems {
    display: flex;
    align-items: center; /* center items vertically */
    justify-content: center; /* center items horizontally */
}

.scrollable {
    overflow-y: auto;
}